html, body {
    width: 100%;
    margin: 0;
    font-size: 1.2em;
}

header.centered {
    margin: 50px auto;
    padding: 0 20px;
    max-width: 1200px;
}

.cv-img {
    width: 200px;
    float: left;
    margin: 0 50px 20px 20px;
    border-radius: 50%;
    border: 0;
    box-shadow: 1px 1px 5px black;
}

.card {
    margin: 25px;
    padding: 20px;
    box-shadow: 1px 1px 0 black;
    border-radius: 5px;
    border: 2px solid;
    clear: both;
    min-width: 300px;
    width: 300px;
    background: white;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
}

.card-tag {
    margin: 5px;
    padding: 5px;
    background: beige;
    border-radius: 5px;
}

.work-exp-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
}

.dark-title {
    margin: 0;
    padding: 50px 20px 20px;
    text-align: center;
    background: #222;
    color: white;
}

.centered {
    text-align: center;
}

.lisp-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background: #222;
    color: white;
}

.lisp-experience p {
    max-width: 1000px;
    text-align: justify;
}

.work-reference {
    font-size: .6em;
    color: #222;
}

p.about-me {
    text-align: justify;
    font-style: italic;
}

.contact {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #222;
    color: lightgray;
}

.contact-link {
    margin: 0 10px;
    color: lightgray;
}

.pdf-download-link {
    background: lightgreen;
    border-radius: 5px;
}

.pdf-download-link a {
    color: #222;
}

.lang-flags {
    margin-left: auto;
}
